@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans',sans-serif;
  background-color: #f6f6f6; }

.wrapper {
  width: 1170px;
  margin: 0 auto; }

label {
  font-weight: 600;
  font-size: 16px;
  padding: 15px 15px 15px 0;
  display: inline-block; }

.input-underline {
  outline: none;
  width: 185px;
  padding: 15px 15px 15px 0;
  font-size: 18px;
  border: solid #acacac;
  border-width: 0 0 1px;
  float: right;
  color: #3d3d3d;
  background-color: #f6f6f6; }

.loan-details {
  width: 410px;
  margin-top: 5%; }

.row {
  margin-bottom: 25px; }

.additional-conditions-container {
  color: #e60000;
  overflow: hidden;
  font-size: 13px;
  width: 200px; }

.drp-container.underline .selectric-wrapper {
  margin: 10px 0; }

.drp-container .selectric-wrapper {
  width: 185px;
  float: right; }
  .drp-container .selectric-wrapper .selectric-items {
    border-top: none; }
    .drp-container .selectric-wrapper .selectric-items li {
      font-size: 16px; }
  .drp-container .selectric-wrapper .selectric {
    background-color: #f6f6f6;
    border: solid #acacac;
    border-width: 0 0 1px; }
    .drp-container .selectric-wrapper .selectric .button {
      background-color: #f6f6f6;
      width: 23px; }
      .drp-container .selectric-wrapper .selectric .button:after {
        content: "\f078";
        font-family: FontAwesome;
        border: none;
        color: #3d3d3d;
        font-size: 12px;
        float: right; }
    .drp-container .selectric-wrapper .selectric .label {
      margin: 0;
      font-size: 18px;
      color: #3d3d3d;
      font-weight: 100; }

.drp-container .selectric-wrapper.selectric-open .button:after {
  content: "\f077"; }

.drp-container.rounded .selectric-wrapper {
  margin-bottom: 15px; }
.drp-container.rounded .selectric {
  border-radius: 20px;
  border: 1px solid #acacac; }
  .drp-container.rounded .selectric .label {
    padding-left: 15px; }
    .drp-container.rounded .selectric .label:before {
      content: "\f100";
      font-family: FontAwesome;
      font-size: 14px;
      margin-right: 1px; }
    .drp-container.rounded .selectric .label:after {
      content: "\f101";
      font-family: FontAwesome;
      font-size: 14px;
      margin-left: 1px; }
  .drp-container.rounded .selectric .button {
    width: 38px; }
    .drp-container.rounded .selectric .button:after {
      padding-right: 15px; }
.drp-container.rounded .selectric-items {
  border-top: 1px solid #c4c4c4; }
  .drp-container.rounded .selectric-items li:before {
    content: "\f100";
    font-family: FontAwesome;
    font-size: 14px;
    margin-right: 1px; }
  .drp-container.rounded .selectric-items li:after {
    content: "\f101";
    font-family: FontAwesome;
    font-size: 14px;
    margin-left: 1px; }

.drp-container.rounded.discount .selectric .label:before {
  content: ""; }
.drp-container.rounded.discount .selectric .label:after {
  content: ""; }
.drp-container.rounded.discount .selectric-items li:before {
  content: ""; }
.drp-container.rounded.discount .selectric-items li:after {
  content: ""; }

.left-column {
  float: left; }

.slider-container {
  width: 230px;
  float: right; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

label[for=loan-plans] span {
  border: 1px solid #acacac;
  color: #acacac;
  width: 22px;
  height: 20px;
  display: table-cell;
  text-align: center;
  border-radius: 50%;
  font-weight: 100;
  vertical-align: middle; }

.input-toggle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }
  .input-toggle:before {
    content: "нет";
    left: -4px;
    color: #7f7f7f; }
  .input-toggle:after {
    content: "да";
    right: 0;
    color: #fff; }
  .input-toggle:before, .input-toggle:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px 11px;
    font-size: 11px;
    z-index: 0; }
  .input-toggle input {
    appearance: none;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0; }
  .input-toggle input:checked ~ .input-toggle-handle {
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px #7f7f7f; }
    .input-toggle input:checked ~ .input-toggle-handle:before {
      left: calc(50% - 2px);
      box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px #7f7f7f, 0 1px 2px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1); }

.input-toggle-handle {
  display: block;
  width: 55px;
  height: 30px;
  background-color: linear-gradient(#51c2d7, #51dacf);
  border-radius: 10em;
  transition: .4s ease;
  box-shadow: inset 44px 44px #7f7f7f; }

.input-toggle-handle:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  transition: .4s ease;
  background: #fff;
  border-radius: 10em;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1); }

.container {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  min-height: 100vh;
  background: #f9f9f9; }

.switch-container {
  margin: auto;
  flex-basis: 100%;
  text-align: left;
  width: 210px; }

.label {
  color: #3d3d3d;
  font-weight: 100; }

.input-toggle {
  margin-right: 12px; }

.slider-container {
  margin-top: 35px; }

label[for="days-range"] {
  width: 170px; }

label[for="loan-plans"], label[for="discount"] {
  padding: 10px 15px 15px 0; }

label[for="loan-plans"] > div {
  display: table;
  float: right;
  margin-left: 7px; }

.overall-submit {
  display: block;
  padding: 15px 50px;
  color: #e60000;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #e60000;
  border-radius: 35px;
  background-color: #f6f6f6;
  cursor: pointer; }
  .overall-submit:focus {
    outline: 0; }

/*# sourceMappingURL=style.css.map */
